 
img {
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
  }

h1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

h2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

